<div class="row">
  <div class="col-xs-3">
    Select Namespace:
  </div>
  <div class="col-xs-9">
    <select name="namespace" [(ngModel)]="selectedNamespace" (change)="onSelectNamespace()">
      <option *ngFor="let nms of allNamespaces" [ngValue]="nms">
        {{ nms.name }}
      </option>
   </select>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn btn-success" (click)="onNewProperty()">New Property</div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-property-item 
      *ngFor="let propertyElement of properties; let i = index"
      [property] = "propertyElement"
      [index]="i">
    </app-property-item>
  </div>
</div>
